<component name="ArtifactManager">
  <artifact type="war" name="SpringREST-crm-client-demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringREST-crm-client-demo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringREST-crm-client-demo.war">
      <element id="artifact" artifact-name="SpringREST-crm-client-demo:war exploded" />
    </root>
  </artifact>
</component>